.top{
    width: 100%;
    height: 500px;
    background-color: red;
    border: black 2px solid;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}
.child1{
    width: 50%;
    height: 100px;
    background-color: blue;
    font-size: 0.75em;
}
.child2{
    width: 50%;
    background-color: blue;
    font-size: 3vw;
}